.footer-row2 .navbar-brand img{
    height:120px !important
}

.text-justify{
    text-align: justify;
}
.main-header{
    background-color: #fff;
}
.nav-bg-b .custom-nav .nav-list li a.menu-links{
    color:#050748
}

.ptb-30{
    padding : 30px 0;
}

.ptb-60{
    padding : 60px 0;
}
/* floating action button whatsapp */
.fab-whatsapp {
    position: fixed;
    bottom: 80px;
    right: 17px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fab-whatsapp img {
    width: 45px;
    height: 45px;
  }
  
  .fab-whatsapp:hover {
    background-color: #128c7e;
    /* Darker green on hover */
  }

  /* Center and style the H1 */
  .appliances-heading{
    margin-top: 80px;
  }
  .appliances-heading h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    color: #fe0a02; 
}
@media only screen and (max-width:991px) {
  .main-header.sticky {
    height: 100px !important;
}

}